/* Arquivo styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Para transições suaves ao usar âncoras */
  }
  
  .section {
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
    display: flex;
    align-items: center; /* Centraliza conteúdo verticalmente */
    justify-content: center; /* Centraliza conteúdo horizontalmente */
    color: white;
    font-size: 2rem;
  }

  .emilys-candy-regular {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
  }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
  
  /* Cores diferentes para cada seção */
  #section1 {
    background-color: #F7B9B5;
  }
  #section1 h1{
    color: #EF5591;
    font-size: 74px;
    font-weight: 400;
    animation: tilt-shaking 5s infinite;
  }
  
  #section2 {
    background-color: #2ecc71;
  }
  
  #section3 {
    background-color: #e74c3c;
  }
  